import("utils")
import("methods")
importFrom("graphics", "boxplot", "hist", "abline")
import("network")
importFrom("RSiena", "sienaAlgorithmCreate")
importFrom("RSiena", "siena07")
importFrom("RSiena", "sparseMatrixExtraction")
importFrom("sna", "gden")
importFrom("sna", "triad.census")
importFrom("ergm", "ergmMPLE")
importFrom("ergm", "control.simulate.formula")
importFrom("ergm", "remove.offset.formula")
importFrom("ergm", "ergm.getnetwork")
importFrom("ergm", "ergm.getmodel")
importFrom("ergm", "ergm.Cprepare")
importFrom("ergm", "ergm.design")
importFrom("ergm", "ergm.pl")
importFrom("ergm", "control.ergm")
importFrom("ergm", "ergm.getglobalstats")
importFrom("ergm", "ergm.geodistdist")
importFrom("ergm", "ergm")
importFrom("ergm", "mcmc.diagnostics")
importFrom("statnet.common", "sweep.mcmc.list")
importFrom("igraph", "graph.adjacency")
importFrom("igraph", "spinglass.community")
importFrom("igraph", "fastgreedy.community")
importFrom("igraph", "cluster_louvain")
importFrom("igraph", "modularity")
importFrom("igraph", "edge.betweenness.community")
importFrom("igraph", "optimal.community")
importFrom("igraph", "walktrap.community")
import("ggplot2")
import("xergm.common")
importFrom("sna", "symmetrize")
import("stats")
importFrom("coda", effectiveSize)
importFrom("coda", as.mcmc)
importFrom("coda", as.mcmc.list)
importFrom("graphics", "plot", "lines", "par", "points")
import("parallel")
importFrom("boot", boot)
importFrom("boot", boot.ci)
import("ROCR")
import("Matrix")
importFrom("stats4", summary)
importFrom("stats4", show)
importFrom("stats4", coef)
importFrom("stats4", nobs)
importFrom("stats4", confint)
importFrom("speedglm", "speedglm.wfit")
export("btergm")
export("mtergm")
export("btergm.se")
export("timesteps.btergm")
export("timesteps.mtergm")
export("edgeprob")
export("marginalplot")
export("createGOF")
exportMethods("gof")
exportMethods("coef")
exportMethods("show")
exportMethods("print")
exportMethods("summary")
exportMethods("plot")
exportMethods("nobs")
exportMethods("confint")
exportMethods("interpret")
exportMethods("checkdegeneracy")
exportMethods("getformula")
S3method(simulate, btergm)
S3method(simulate, mtergm)
S3method(print, boxplot)
S3method(print, univariate)
S3method(print, gof)
S3method(print, roc)
S3method(print, pr)
S3method(print, rocpr)
S3method(print, degeneracy)
S3method(plot, boxplot)
S3method(plot, univariate)
S3method(plot, gof)
S3method(plot, roc)
S3method(plot, pr)
S3method(plot, rocpr)
S3method(plot, degeneracy)
exportClasses("btergm")
exportClasses("mtergm")
export("rocpr")
export("spinglass.modularity")
export("spinglass.roc")
export("spinglass.pr")
export("edgebetweenness.modularity")
export("edgebetweenness.roc")
export("edgebetweenness.pr")
export("maxmod.modularity")
export("maxmod.roc")
export("maxmod.pr")
export("fastgreedy.modularity")
export("fastgreedy.roc")
export("fastgreedy.pr")
export("walktrap.modularity")
export("walktrap.roc")
export("walktrap.pr")
export("comemb")
export("triad.undirected")
export("triad.directed")
export("geodesic")
export("kcycle")
export("kstar")
export("istar")
export("ostar")
export("b1star")
export("b2star")
export("deg")
export("ideg")
export("odeg")
export("b1deg")
export("b2deg")
export("dsp")
export("esp")
export("nsp")
